* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
body1 {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
body2 {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ====================common================== */
a {
  text-decoration: none;
}
.hero {
  padding: 42px 0 79px;
}
.hero .body {
  display: flex;
}
.hero .content-block {
  width: 50%;
}
.hero .content-block .top-title {
  margin-top: 93px;
  color: #767e7e;
  font-size: 1.4rem;
}
.hero .content-block .title {
  margin-top: 18px;
  max-width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}
.hero .content-block .desc {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* main { */
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.main-content .logo {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main-content .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content ul {
  color: #2f3a3b;
  display: flex;
  gap: 39px;
}
.main-content .logo img {
  margin-left: 145px;
}
.hero .main-content .body {
  display: flex;
}

.action {
  display: flex;
  margin: right 135px;
}
.action {
  gap: 48px;
  margin-right: 135px;
  align-items: center;
  justify-content: center;
  color: #494949;
}
.action .action-btn {
  color: #1ebfc1;
  width: 108px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  justify-content: center;
  align-items: center;
  display: flex;
}
.avatar-block .active {
  background: #1ebfc1;
  color: #fff;
  text-align: center;
  font-size: 10px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.content-block P {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 21px;
}
.content-block h1 {
  color: #0d1111;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 116.129% */
}
.content-block .desc {
  width: 374px;
  color: #9da6a5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
  margin-top: 46px;
}
.hero .content-block .cta-group {
  margin-top: 52px;
  display: flex;
  text-align: center;
}
.content-block .cta-btn {
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero .content-block .desc-span {
  display: inline-block;
}

.hero .content-block .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6b08c2;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  gap: 50px;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero .content-block .play-video:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
/* hero right */
.hero .media-block {
  position: relative;
  margin-top: 150px;
}
.hero .media-block img {
  background: rgb(186, 243, 243);
}

.hero .media-course {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .media-course::after {
  position: absolute;
  top: 45px;
  left: 28px;
  content: "";
  display: inline-block;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 999px;
}
.hero .media-course .course-icon {
  width: 36px;
  height: 40px;
}
.hero .media-course .detail {
  color: #0d1111;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 55px;
}
.hero .media-schedule {
  position: absolute;
  top: 453px;
  left: -65px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
}
.hero .media-schedule span {
  display: inline-block;
  margin: 16px 32px 0;
  color: #0d1111;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero .media-schedule .schedule-icon {
  display: block;
  width: 74px;
  height: 6px;
  margin: 16px 25px 0;
  border-radius: 3px;
}
.hero .media-schedule .schedule-icon2 {
  margin-top: 12px;
}
.hero .media-schedule .schedule-icon3 {
  margin-top: 10px;
}
.hero .media-schedule .schedule-icon4 {
  margin-top: 16px;
  background: #fff;
}
/* avatar-block */
.hero .media-block .avatar-block {
  position: absolute;
  top: 500px;
  left: 324px;
  right: 45px;
  width: 207px;
  height: 90px;
  background: #fefefd;
  border-radius: 24px;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}
.hero .avatar-block .ava-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .avatar-block .ava {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: -7px;
}
.hero .ava-list .ava:first-child {
  margin-left: 0;
}
.hero .avatar-block .detail {
  display: inline-block;
  margin: 17px 35px 0;
  color: #0d1111;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero .avatar-block .avar-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1ebfc1;
}
.hero .avar-more span {
  color: #0d1111;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero .avatar-block .ava1 {
  background: yellow;
}
.hero .avatar-block .ava2 {
  background: red;
}
.hero .avatar-block .ava3 {
  background: pink;
}
.hero .avatar-block .ava4 {
  background: violet;
}
/* =====feature======= */
.feature {
  margin-top: 70px;
}
.feature .heading-lv2 {
  margin-top: 18px;
  max-width: 577px;
}
.feature .body-feature {
  max-width: 1024px;
  padding: 60px 0;
  justify-content: center;
  align-items: center;
}
.feature .top-title-lv2 {
  color: #767e7e;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.feature .heading-lv2 a {
  margin-top: 18px;
  max-width: 577px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.34; /* 133.333% */
}
.feature .desc {
  max-width: 590px;
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}
.feature .feature-list {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.feature .feature-list .item-title {
  margin-top: 26px;
}
.feature .feature-list .item-title a {
  color: #0d1111;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.feature .feature-list .item-desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69; /* 168.75% */
}
.feature .item:first-child .item-desc {
  max-width: 168px;
}
.feature .item:nth-child(2) .item-desc {
  max-width: 223px;
}

.feature .item:nth-child(3) .item-desc {
  max-width: 224px;
}
/* ==============course============ */
.course {
  margin-top: 10px;
}
.course .body1 {
  margin-top: 130px;
}
.course .top-title .top-title-lv2 {
  color: #767e7e;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.course .heading-lv2 {
  color: #0d1111;
  font-family: Poppins;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 18px;
}
.course .row-top {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}
.course .row-top .desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
}
.course .row-top .all-course {
  text-decoration: underline;
  color: #1ebfc1;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}
.course .course-list {
  margin-top: 79px;
  justify-content: space-between;
  display: flex;
}
.course .course-list .course-item {
  position: relative;
}
.course .course-item .thumb {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.7;
  background: #d0efed;
}
.course .course-item .course-detail {
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  position: absolute;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}
.course .course-detail .wrap-item {
  padding: 18px 25px 0;
}
.course .heading-lv3 a {
  margin-top: 18px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.course .cost {
  margin-top: 16px;
  color: #767e7e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.course .cost span {
  color: #0d1111;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.course .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.course .course-detail .static {
  margin-top: 18px;
  color: #9da6a5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.course .course-detail .static span::before {
  margin: 0 10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 50%;
}
.countdown {
  margin: 265px 289px;
}
.countdown-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countdown .countdown-item .static {
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown .countdown-item .static strong {
  color: #0d1111;
  text-align: center;
  font-family: Poppins;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.countdown .countdown-item .desc {
  color: #767e7e;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* feedback */
.feedback {
  margin-top: 227px;
}

.feedback .body2 {
  position: relative;
  padding: 37px 0;
  /* background: aqua; */
}

.feedback blockquote {
  max-width: 419px;
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}

.feedback .desc {
  display: flex;
  align-items: center;
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.feedback .desc::before {
  margin-right: 6px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #070707;
}
.feedback .desc strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}

.feedback .feedback-cta {
  margin-left: -30px;
  display: flex;
  margin-top: 52px;
  display: flex;
}

.feedback .feedback-cta .cta-btn-group {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2ac9bf;
}

.feedback .feedback-cta .cta-btn-group:hover {
  opacity: 0.9;
  border: 1px solid rgba(207, 20, 195, 0.219);
  transition: 0.5s;
}

.feedback .ava-fb {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

.feedback .avar-fb-1 {
  left: 635px;
  top: 0;
  width: 92px;
  height: 92px;
  background-color: yellow;
}

.feedback .avar-fb-2 {
  width: 110px;
  height: 110px;
  right: 0;
  left: 1060px;
  top: 19px;
  background-color: pink;
}

.feedback .avar-fb-3 {
  width: 235px;
  height: 235px;
  top: 107px;
  left: 764px;
  background-color: red;
}

.feedback .avar-fb-4 {
  top: 258px;
  left: 491px;
  background-color: green;
}

.feedback .avar-fb-5 {
  top: 403px;
  left: 703px;
  background-color: violet;
}

.feedback .avar-fb-6 {
  top: 374px;
  left: 1060px;
  background-color: blue;
}
/* admit */
.admit {
  margin-top: 130px;
  background: #def6f5;
  width: 1440px;
  height: 272px;
  padding: 76px 135px 88px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.admit .body3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admit .heading-lv2 {
  color: #070707;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admit .desc {
  margin-top: 18px;
  margin-right: 410px;
  color: #767e7e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admit .btn {
  display: flex;
  color: #ffffff;
  background-color: #2ac9bf;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
}
/* ==============footer============== */
.footer{
  background-color: #fff;
  width: 1440px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;

}
.footer .row-top{
  padding: 131px 0 0;
  display: flex;
  justify-content: space-between;
}
.footer .title{
color: #2E2E2E;
font-size: 1.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.footer .list li{
margin-top: 18px;
color: #858181;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .list li:first-child {
  margin-top: 26px;
}
.footer .list-item5 a{
  display: flex;
  align-items: center;
}
.footer .list .social-icon{
  margin-right: 9px;
}
.footer li a{
color: #535353;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .list-item5 .social-icon{
  color: black
}
.footer .copyright{
  color: #B0B5B4;
font-size: 1.8rem;
font-style: normal;
margin-left: 478px;
padding-top: 80px;
align-items: center;
padding-bottom: 50px;
}
